/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.back-btn{  
   color: black;
}
.dot {
   height: 18px;
   width: 18px;
   background-color: red;
   border-radius: 50%;
   justify-content: center;
   display: inline-flex;
 }

 .dot span{
   font-size: 10px;
   color: #fff;
   margin-top: 2px;
 }